<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/join.css">
</head>
<body>
    <header>
        <nav>
            <a href="index.html"><img src="images/logo.png" alt=""></a>
            <div class="sign_box">
                <ul>
                    <li><a href="join.html">회원가입</a></li>
                    <li><a href="login.html">로그인</a></li>
                    <li><a href=""><img src="images/head_cart.png" alt="">장바구니</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <h1>회원가입</h1>
    <div class="join">
        <form action="javascript:a();" method="post">
            <h3>아이디</h3>
            <input type="text" id="id" maxlength="12">
            <p id="id_msg"></p>
            <h3>비밀번호</h3>
            <input type="password" id="pw1" maxlength="20">
            <p id="pw1_msg"></p>
            <h3>비밀번호 확인</h3>
            <input type="password" id="pw2" maxlength="20">
            <p id="pw2_msg"></p>
            <h3>이름</h3>
            <input type="text" id="name" maxlength="8">
            <p id="name_msg"></p>
            <h3>이메일</h3>
            <input type="text" id="email" maxlength="30">
            <p id="email_msg"></p>
            <div class="btn_area">
                <button id="btn_join">가입</button>
            </div>
        </form>
    </div>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/join.js"></script>
</body>
</html>