<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/lib/reset.css">
    <link rel="stylesheet" href="../../static/css/lib/common.css">
    <link rel="stylesheet" href="../../static/css/lib/manager.css">
</head>
<body>
    <header>
        <nav>
            <a href="index.html"><img src="images/logo.png" alt=""></a>
            <div class="admin_box">
                <ul>
                    <li><a href="manager_product.html">상품등록/제거</a></li>
                    <li><a href="manager_sell.html">판매등록/제거</a></li>
                </ul>
            </div>
            <div class="sign_box">
                <ul>
                    <li><a href="join.html">회원가입</a></li>
                    <li><a href="login.html">로그인</a></li>
                    <li><a href=""><img src="images/head_cart.png" alt="">장바구니</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <div id=wrap>
        <div id="product_area">
            <div id="reg_area">
                <h1>상품 등록</h1>
                <div id="product_list">
                    <form id="reg_form" action="" method="POST">
                        <button id="reg_btn">등록</button>
                        <h3>이미지 업로드</h3>
                        <input type="file" class="image_file" accept=".jpg,.jpeg,.png">
                        <h3>상품명</h3>
                        <input type="text" class="product_name">
                        <h3>상품가격</h3>
                        <input type="text" class="product_price">
                        <h3>상품수량</h3>
                        <input type="text" class="product_quantity">
                    </form>
                    <button id="add_div">+</button>
                </div>
            </div>
            <div id="del_area">
                <h1>상품제거</h1>
                <form action="javascript:del_product();"method="post" id="del_form">
                    <button id="del_btn">제거</button>
                </form>
            </div>
        </div>
    </div>
    <script src="../../static/js/lib/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/lib/common.js"></script>
    <script src="../../static/js/lib/manager_product.js"></script>
</body>
</html>