<!DOCTYPE html>
<html lang="ko" xmlns = "http://www.w3.org/1999/xhtml"
		xmlns:th = "http://www.thymeleaf.org">
		
<head th:include="/layout/header :: headtitle ('manager')">

</head>


<body>


    <header th:include="/layout/header :: header">

    </header>
    
    
    
    <div id=wrap>
        <div id="product_area">
            <div id="reg_area">
                <h1>상품 등록</h1>
                <div id="product_list">
                    <form id="reg_form" action="" method="POST">
                        <button id="reg_btn">등록</button>
                        <h3>이미지 업로드</h3>
                        <input type="file" class="image_file" accept=".jpg,.jpeg,.png">
                        <h3>상품명</h3>
                        <input type="text" class="product_name">
                        <h3>상품가격</h3>
                        <input type="text" class="product_price">
                        <h3>상품수량</h3>
                        <input type="text" class="product_quantity">
                    </form>
                    <button id="add_div">+</button>
                </div>
            </div>
            <div id="del_area">
                <h1>상품제거</h1>
                <form action="javascript:del_product();"method="post" id="del_form">
                    <button id="del_btn">제거</button>
                </form>
            </div>
        </div>
    </div>
    
    
    <div th:include="/layout/footer :: footer('manager_product') ">
    
    </div>
    
    
    
    
</body>
</html>