<!DOCTYPE html>
<html lang="ko" xmlns = "http://www.w3.org/1999/xhtml"
		xmlns:th = "http://www.thymeleaf.org">
		
		
<head th:fragment = "headtitle (manager)">

</head>

<body>

    <header th:include="/layout/header :: header">
    
    </header>


    
    <div id=wrap>
        <div class="modification_area">
                <h1>상품수정</h1>
                
                <div id="mod_form">
                    <button type="button" id="mod_btn">수정</button> 
                </div>
        </div>
    </div>
    
    
    
    <div th:include="/layout/footer :: footer ('manager_mod')">
    
    </div>
</body>
</html>