<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
		xmlns:th = "http://www.thymeleaf.org">
<head th:include="/layout/header :: headtitle ('cart')">

</head>



<body>
    
    
    <header th:include="/layout/header :: header">

    </header>





    <div class="container wrap">
        <div class="container text-center main-container">
            <div class="row table-title">
                <input type="checkbox" class="main-checkbox align-self-center" checked="true" />
                <div class="col-sm-7 align-self-center">상품명</div>
                <div class="col-sm-2 align-self-center">수량</div>
                <div class="col-sm-2 align-self-center">상품가격</div>
            </div>

<!---------------------------------------------------반복 시작----------------------------------------------------------->

            <div class="row menu-list text-center">
                <input type="checkbox" class="list-checkbox align-self-center" checked="true" />
                <div class="col-sm-1"></div>
                <div class="col-sm-2 text-center"><img src="beaf_buger.png" class="list-image" alt="burger image" ></div>
                <div class="col-sm-4">트리플머쉬룸와퍼주니어 세트</div>
                <div class="col-sm-2 quantity-box">
                    <span class="list-quantity">1</span>
                    <a href="">+</a>
                    <a href="">-</a>
                </div>
                <div class="col-sm-2">
                    <span class="menu-price">7,600원</span>
                </div>
                <button type="button" class="o-d-btn menu-order">주문</button>
                <button type="button" class="o-d-btn menu-del">삭제</button>
            </div>
            <div class="row">
                <hr class="list-hr" />
            </div>

            <div class="row menu-list text-center">
                <input type="checkbox" class="list-checkbox align-self-center" checked="true" />
                <div class="col-sm-1"></div>
                <div class="col-sm-2 text-center"><img src="beaf_buger.png" class="list-image" alt="burger image" ></div>
                <div class="col-sm-4">트리플머쉬룸와퍼주니어 세트</div>
                <div class="col-sm-2 quantity-box">
                    <span class="list-quantity">1</span>
                    <a href="">+</a>
                    <a href="">-</a>
                </div>
                <div class="col-sm-2">
                    <span class="menu-price">7,600원</span>
                </div>
                <button type="button" class="o-d-btn menu-order">주문</button>
                <button type="button" class="o-d-btn menu-del">삭제</button>
            </div>
            <div class="row">
                <hr class="list-hr" />
            </div>

            <div class="row menu-list text-center">
                <input type="checkbox" class="list-checkbox align-self-center" checked="true" />
                <div class="col-sm-1"></div>
                <div class="col-sm-2 text-center"><img src="beaf_buger.png" class="list-image" alt="burger image" ></div>
                <div class="col-sm-4">트리플머쉬룸와퍼주니어 세트</div>
                <div class="col-sm-2 quantity-box">
                    <span class="list-quantity">1</span>
                    <a href="">+</a>
                    <a href="">-</a>
                </div>
                <div class="col-sm-2">
                    <span class="menu-price">7,600원</span>
                </div>
                <button type="button" class="o-d-btn menu-order">주문</button>
                <button type="button" class="o-d-btn menu-del">삭제</button>
            </div>
            <div class="row">
                <hr class="list-hr" />
            </div>
<!---------------------------------------------------반복 끝----------------------------------------------------------->
            <div class="row total-box">
                <div class="col-sm-6"></div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2 total-quantity text-right">총수량 : <span>3개</span></div>
                
                <div class="col-sm-3 text-left total-price">총금액 : <span>7,600원</span></div>
            </div>
            <div class="row">
                    <hr class="list-hr" />
            </div>
        </div>
    </div>

    <footer class="container-fluid" id="ft">
        <div class="container footer-bar">
            <button type="button" class="slide-btn">△</button>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3 text-center">
                    <img src="logo.png" alt="" class="footer-logo">
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-3">
                    <div class="row footer-top-row">
                        <div class="col-sm-12 total-quantity">총수량 : <span>3개</span></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 total-price">총금액 : <span>7,600원</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row footer-top-row">
                        <div class="col-sm-12"><button type="button" class="all-order">전체상품주문</button></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12"><button type="button" class="select-order">선택상품주문</button></div>
                    </div>  
                </div>
            </div>
        </div>
    </footer>





    <div th:include="/layout/footer :: footer ('cart')">

    </div>
</body>
</html>