<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
		xmlns:th = "http://www.thymeleaf.org">
<head th:fragment = "headtitle (template)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>버거킹</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="cart.css">
</head>
<body>
    <nav>
        <a href="/"><img src="logo.png" alt=""></a>
        <div class="sign_box">
            <ul>
                <li th:if="${session.managerInfo} == null">
                    <a th:if="${session.loginInfo} == null"  href="#" id="a-join">회원가입</a>
                   </li>
                <li th:if="${session.managerInfo} == null">
                    <!-- 세션 객체의 loginInfo라는 속성으로 정의한 사용자 정보를 판단 -->
                    <a th:if="${session.loginInfo} == null" href="#" id="a-login">로그인</a>
                    <a th:if="${session.loginInfo} != null" href="#" id="a-logout">로그아웃</a>
                   </li>
                   <li th:if="${session.managerInfo} == null">
                    <a href="#">
                        <img src="head_cart.png" alt="">장바구니
                       </a>
                </li> 
                   <li th:if="${session.managerInfo} != null">
                       <a href="#" id="a-managerlogout">로그아웃</a>
                   </li>
            </ul>
        </div>
    </nav>
    <div class="container wrap">
        <div class="container text-center main-container">
            <div class="row table-title">
                <input type="checkbox" class="main-checkbox align-self-center" checked="true" />
                <div class="col-sm-7 align-self-center">상품명</div>
                <div class="col-sm-2 align-self-center">수량</div>
                <div class="col-sm-2 align-self-center">상품가격</div>
            </div>

<!---------------------------------------------------반복 시작----------------------------------------------------------->

            <div class="row menu-list text-center">
                <input type="checkbox" class="list-checkbox align-self-center" checked="true" />
                <div class="col-sm-1"></div>
                <div class="col-sm-2 text-center"><img src="beaf_buger.png" class="list-image" alt="burger image" ></div>
                <div class="col-sm-4">트리플머쉬룸와퍼주니어 세트</div>
                <div class="col-sm-2 quantity-box">
                    <span class="list-quantity">1</span>
                    <a href="">+</a>
                    <a href="">-</a>
                </div>
                <div class="col-sm-2">
                    <span class="menu-price">7,600원</span>
                </div>
                <button type="button" class="o-d-btn menu-order">주문</button>
                <button type="button" class="o-d-btn menu-del">삭제</button>
            </div>
            <div class="row">
                <hr class="list-hr" />
            </div>

            <div class="row menu-list text-center">
                <input type="checkbox" class="list-checkbox align-self-center" checked="true" />
                <div class="col-sm-1"></div>
                <div class="col-sm-2 text-center"><img src="beaf_buger.png" class="list-image" alt="burger image" ></div>
                <div class="col-sm-4">트리플머쉬룸와퍼주니어 세트</div>
                <div class="col-sm-2 quantity-box">
                    <span class="list-quantity">1</span>
                    <a href="">+</a>
                    <a href="">-</a>
                </div>
                <div class="col-sm-2">
                    <span class="menu-price">7,600원</span>
                </div>
                <button type="button" class="o-d-btn menu-order">주문</button>
                <button type="button" class="o-d-btn menu-del">삭제</button>
            </div>
            <div class="row">
                <hr class="list-hr" />
            </div>

            <div class="row menu-list text-center">
                <input type="checkbox" class="list-checkbox align-self-center" checked="true" />
                <div class="col-sm-1"></div>
                <div class="col-sm-2 text-center"><img src="beaf_buger.png" class="list-image" alt="burger image" ></div>
                <div class="col-sm-4">트리플머쉬룸와퍼주니어 세트</div>
                <div class="col-sm-2 quantity-box">
                    <span class="list-quantity">1</span>
                    <a href="">+</a>
                    <a href="">-</a>
                </div>
                <div class="col-sm-2">
                    <span class="menu-price">7,600원</span>
                </div>
                <button type="button" class="o-d-btn menu-order">주문</button>
                <button type="button" class="o-d-btn menu-del">삭제</button>
            </div>
            <div class="row">
                <hr class="list-hr" />
            </div>
<!---------------------------------------------------반복 끝----------------------------------------------------------->
            <div class="row total-box">
                <div class="col-sm-6"></div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2 total-quantity text-right">총수량 : <span>3개</span></div>
                
                <div class="col-sm-3 text-left total-price">총금액 : <span>7,600원</span></div>
            </div>
            <div class="row">
                    <hr class="list-hr" />
            </div>
        </div>
    </div>

    <footer class="container-fluid" id="ft">
        <div class="container footer-bar">
            <button type="button" class="slide-btn">△</button>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3 text-center">
                    <img src="logo.png" alt="" class="footer-logo">
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-3">
                    <div class="row footer-top-row">
                        <div class="col-sm-12 total-quantity">총수량 : <span>3개</span></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 total-price">총금액 : <span>7,600원</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row footer-top-row">
                        <div class="col-sm-12"><button type="button" class="all-order">전체상품주문</button></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12"><button type="button" class="select-order">선택상품주문</button></div>
                    </div>  
                </div>
            </div>
        </div>
    </footer>

    <script src="jquery-3.3.1.min.js"></script>
    <script src="cart.js"></script>
</body>
</html>