<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
		xmlns:th = "http://www.thymeleaf.org">
<head th:include="/layout/header :: headtitle ('cart')">

</head>



<body>
    
    
    <header th:include="/layout/header :: header">

    </header>





    <div class="container wrap">
        <div class="container text-center main-container">
            <div class="row table-title">
                <input type="checkbox" class="main-checkbox align-self-center" checked="true" />
                <div class="col-sm-7 align-self-center">상품명</div>
                <div class="col-sm-2 align-self-center">수량</div>
                <div class="col-sm-2 align-self-center">상품가격</div>
            </div>
            <div th:if="${map == null or map.isEmpty() or map.foodList.isEmpty() }">
                <div>
                    <span>장바구니에 상품이 없습니다.</span>
                </div>
                <div class="row">
                    <hr class="list-hr" />
                </div>
            </div>
<!---------------------------------------------------반복 시작----------------------------------------------------------->
            <div th:if="${map != null and !(map.isEmpty()) and !(map.foodList.isEmpty()) }">
                <div th:each="food, index : ${map.foodList }">
                    <div class="row menu-list text-center">
                        <input type="checkbox" class="list-checkbox align-self-center" checked="true" />
                        <div class="col-sm-1"></div>
                        <div class="col-sm-2 text-center">
                            <img th:src="@{'/img/fooditem/' + ${food.foodimgfile.imgfilename } }" class="list-image" alt="burger image" >
                        </div>
                        <div class="col-sm-4 menu-foodname" th:text="${food.foodname }"></div>
                        <div class="col-sm-2 quantity-box">
                            <span class="list-quantity" th:text="${map.stock[index.index] }"></span>
                            <input type="hidden" class="hid-max-stock" th:value="${food.stock }">
                            <input class="quantity-plus" type="button" value="+">
                            <input class="quantity-minus" type="button" value="-">
                        </div>
                        <div class="col-sm-2" id="div-menu-price">
                            <span class="menu-price" th:text="${map.price[index.index] } + 원"></span>
                            <input type="hidden" class="hid-one-food-price" th:value="${food.foodprice }">
                        </div>
                        <button type="button" class="o-d-btn menu-order">주문</button>
                        <button type="button" class="o-d-btn menu-del">삭제</button>
                    </div>
                    <div class="row">
                        <hr class="list-hr" />
                    </div>
                    <input type="hidden" class="hid-fid" th:value="${food.fid }">
                </div>
            </div>
<!---------------------------------------------------반복 끝----------------------------------------------------------->
            <div class="row total-box">
                <div class="col-sm-6"></div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2 total-quantity text-right" id="ft-total-quantity">총 수량 : <span></span></div>
                
                <div class="col-sm-3 text-left total-price" id="ft-total-price">총 금액 : <span></span></div>
            </div>
            <div class="row">
                    <hr class="list-hr" style="margin-bottom:250px;"/>
            </div>
        </div>
    </div>

    <footer class="container-fluid" id="ft">
        <div class="container footer-bar">
            <button type="button" class="slide-btn">▽</button>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3 text-center">
                    <img src="/img/site/logo.png" alt="" class="footer-logo">
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-3">
                    <div class="row footer-top-row">
                        <div class="col-sm-12 total-quantity">총수량 : <span>3개</span></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 total-price">총금액 : <span>7,600원</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row footer-top-row">
                        <div class="col-sm-12"><input type="button" class="all-order" value="전체상품주문"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12"><input type="button" class="select-order" value="선택상품주문"></div>
                    </div>  
                </div>
            </div>
        </div>
    </footer>





    <div th:include="/layout/footer :: footer ('cart')">

    </div>
</body>
</html>