
h1 {text-align: center; font-size: 50px; margin-bottom: 20px;}
.join {width: 500px; margin:0 auto; padding:0;}
.join h3 {font-size:20px; margin-bottom: 5px;}
.join input {width: 485px; height: 30px; padding:5px;}
.join input:not(:last-child) {margin-bottom: 10px;}
.join p {display: none; margin-bottom: 10px; color:red; font-size:14px;}

.btn_area {width: 100%; margin-top: 20px;}
#btn_join {width: 100%; background-color: #ef7a01; border:none; color:white; font-size: 25px; padding:10px 0px;}