<!DOCTYPE html>
<html lang="ko" xmlns = "http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div th:fragment="footer (template)">
	<!-- 공통 js -->
	<script th:if="${tempalte} != header" src="/js/lib/jquery-3.3.1.min.js"></script>
    <script src="/js/lib/common.js"></script>
    
    <!-- 메인 페이지 js -->
    <script th:if="${template} == 'main' " src="/js/lib/main.js"></script>
    <!-- 회원가입 페이지 js -->
    <script th:if="${template} == 'join' " src="/js/lib/join.js"></script>
    <!-- 로그인 페이지 js -->
    <script th:if="${template} == 'login' " src="/js/lib/login.js"></script>
    <!-- 매니저 로그인 페이지 js -->
    <script th:if="${template} == 'managerLogin' " src="/js/lib/managerlogin.js"></script>
    <!-- 헤더 페이지 js -->
    <script th:if="${template} == 'header' " src="/js/lib/header.js"></script>
</div>	
</body>
</html>