<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
		xmlns:th = "http://www.thymeleaf.org">
<head th:fragment = "headtitle (template)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>버거킹</title>
    <link rel="stylesheet" href="/css/lib/reset.css">
    <link rel="stylesheet" href="/css/lib/common.css">
    <!-- 회원가입 페이지 css -->
    <link th:if="${template} == 'join' " rel="stylesheet" href="/css/lib/join.css">
    <!-- 메인 페이지 css -->
    <link th:if="${template} == 'main' " rel="stylesheet" href="/css/lib/main.css">
    <!-- 로그인 페이지 css -->
    <link th:if="${template} == 'login' " rel="stylesheet" href="/css/lib/login.css">
</head>
<body>
	<!-- 
 		Thymeleaf 구문 -
 		th:fragment = 다른 템플릿에 include할 위치 태그 지정
 		속성값 : { 템플릿 파일 명 }
 		템플릿 파일 명에서 확장자는 View Resolver를 통해 설정되어 생략이 가능하다.
 	 -->
    <header th:fragment = "header">
        <nav>
            <a href="/"><img src="../img/site/logo.png" alt=""></a>
            <div class="sign_box">
                <ul>
                    <li th:if="${session.managerInfo} == null">
                    	<a th:if="${session.loginInfo} == null"  href="#" id="a-join">회원가입</a>
                   	</li>
                    <li th:if="${session.managerInfo} == null">
                    	<!-- 세션 객체의 loginInfo라는 속성으로 정의한 사용자 정보를 판단 -->
                    	<a th:if="${session.loginInfo} == null" href="#" id="a-login">로그인</a>
                    	<a th:if="${session.loginInfo} != null" href="#" id="a-logout">로그아웃</a>
                   	</li>
                   	<li th:if="${session.managerInfo} == null">
                    	<a href="#">
                    		<img src="../img/site/head_cart.png" alt="">장바구니
                   		</a>
					</li> 
                   	<li th:if="${session.managerInfo} != null">
                   		<a href="#" id="a-managerlogout">로그아웃</a>
                   	</li>
                </ul>
            </div>
        </nav>
        <nav style="display: none;">
        	<div th:include="/layout/footer :: footer ('header')">
        	
        	</div>
        </nav>
    </header>
</body>
</html>